@page
@model IndexModel
@{
    ViewData["Title"] = "Vote";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row text-center">
        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 100%;">
                <img src="~/img/ls.jpg" class="card-img-top" alt="Laurent Summer">
                <div class="card-body">
                    <h5 class="card-title">Laurent Summer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-demab" data-id="1"><i class="far fa-thumbs-up"></i> <span id="like1">0</span></a>
                    <a href="#" class="btn btn-danger"><i class="far fa-thumbs-down"></i> <span id="unlike1">0</span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 100%;">
                <img src="~/img/jr.jpg" class="card-img-top" alt="Julia Rose">
                <div class="card-body">
                    <h5 class="card-title">Julia Rose</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-demab" data-id="2"><i class="far fa-thumbs-up"></i> <span id="like2">0</span></a>
                    <a href="#" class="btn btn-danger"><i class="far fa-thumbs-down"></i> <span id="unlike2">0</span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 100%;">
                <img src="~/img/er.jpg" class="card-img-top" alt="Emily Ratajkowski">
                <div class="card-body">
                    <h5 class="card-title">Emily Ratajkowski</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-demab" data-id="3"><i class="far fa-thumbs-up"></i> <span id="like3">0</span></a>
                    <a href="#" class="btn btn-danger"><i class="far fa-thumbs-down"></i> <span id="unlike3">0</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
